<header>
    <div class="container">
      <h1><a href="/">Game Market</a></h1>
      <nav>
        <ul>
          <li><a href="/categories">View Categories</a></li>
          <li><a href="/games">View Games</a></li>
          <li><a href="/categories/new">Create Category</a></li>
          <li><a href="/games/new">Create Game</a></li>
        </ul>
      </nav>
    </div>
  </header>