<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Game</title>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <%- include("partials/nav.ejs") %>
    <%- include("partials/errors.ejs") %>
    <form action="/games/new" method="POST">
      <label for="name">Game name:</label>
      <input type="text" name="name" id="name" />

      <div class="check-boxes">
        <% categories.forEach((category) => {%>

        <input type="checkbox" name="categories" value="<%= category.id%>" />
        <label for=""><%= category.name %></label>
        <% }) %>
      </div>
      <label for="release_date">Release date:</label>
      <input type="date" name="release_date" id="release_date" />

      <label for="price">Price:</label>
      <input type="number" name="price" id="price" />

      <label for="rating">Rating:</label>
      <input type="number" step="any" name="rating" id="rating" />

      <button>Submit</button>
    </form>
  </body>
</html>
