<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Game Market</title>
  <!-- Link to your CSS file -->
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <%- include("partials/nav.ejs") %>

  <main>
    <div class="hero">
      <h2>Welcome to the  GAMEMARK!</h2>
      <p>Discover and buy the best games around.</p>
      <a href="/games" class="btn">Browse Games</a>
    </div>
    <video autoplay muted loop preload="auto" playsinline>
        <source src="/landing_page.mp4" type="video/mp4">
    </video>
  </main>

  <footer>
    <div class="container">
      <p>&copy; 2025 Game Market. All rights reserved.</p>
    </div>
  </footer>
</body>
</html>
