<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Game Market</title>
    <!-- Link to your CSS file -->
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <%- include("partials/nav.ejs") %>
    <main class="main-content">
      <div class="hero-container">
        <video autoplay muted loop preload="auto" playsinline>
          <source src="/landing_page.mp4" type="video/mp4" />
        </video>
        <div class="hero">
          <h2>Welcome to the GAMEMARK!</h2>
          <p>Discover and buy the best games around.</p>
          <a href="/games" class="btn">Check Out Games</a>
        </div>
      </div>
    </main>
    <div class="section-2">
      <div class="inner-row1">
        <img src="./category_banners/action_games.png" alt="" />
        <div class="info-section">
          <p>
            Unleash your inner hero with our explosive action-packed games! Get
            ready for heart-pounding battles, high-octane chases, and epic
            showdowns that will leave you breathless. Dive into immersive worlds
            where every moment bursts with adrenaline and every mission tests
            your skills. Gear up, ignite your passion for adventure, and
            experience the thrill of action like never before!
          </p>
          <div class="example-games">
            <h4>Check out other categories:</h4>

            <div class="game-grid">
              <img src="./category_banners/multiplayer.png" alt="" />
              <img src="./category_banners/open_world.png" alt="" />
              <img src="./category_banners/rpg.png" alt="" />
              <img src="./category_banners/shooter.png" alt="" />
            </div>
          </div>
        </div>
      </div>
      <div class="inner-row1 second">
        <div class="top-games">
          <h1>Top Games</h1>
          <div class="games-grid">
            <img src="./top_game.jpg" alt="" />
            <img src="./top_games/fallout4.jpg" alt="" />
            <img src="./top_games/lef4.jpg" alt="" />
            <img src="./top_games/godofwar.jpg" alt="" />
            <img src="./top_games/tombraider.jpg" alt="" />
            <img src="./top_games/red2.jpg" alt="" />
            <img src="./top_games/portal2.jpg" alt="" />
            <img src="./top_games/bioshock.jpg" alt="" />
            <img src="./top_games/pd2.jpg" alt="" />
          </div>
        </div>
      </div>
    </div>
    <footer>
      <p>&copy; 2025 Game Market. All rights reserved.</p>
      <svg
        id="wave"
        style="transform: rotate(0deg); transition: 0.3s"
        viewBox="0 0 1440 270"
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
      >
        <defs>
          <linearGradient id="sw-gradient-0" x1="0" x2="0" y1="1" y2="0">
            <stop
              stop-color="rgba(249.664, 131.88, 225.868, 0.99)"
              offset="0%"
            ></stop>
            <stop
              stop-color="rgba(199.574, 0.625, 172.861, 0.75)"
              offset="100%"
            ></stop>
          </linearGradient>
        </defs>
        <path
          style="transform: translate(0, 0px); opacity: 1"
          fill="url(#sw-gradient-0)"
          d="M0,243L48,216C96,189,192,135,288,94.5C384,54,480,27,576,45C672,63,768,126,864,148.5C960,171,1056,153,1152,126C1248,99,1344,63,1440,49.5C1536,36,1632,45,1728,63C1824,81,1920,108,2016,117C2112,126,2208,117,2304,108C2400,99,2496,90,2592,94.5C2688,99,2784,117,2880,144C2976,171,3072,207,3168,216C3264,225,3360,207,3456,193.5C3552,180,3648,171,3744,166.5C3840,162,3936,162,4032,135C4128,108,4224,54,4320,63C4416,72,4512,144,4608,171C4704,198,4800,180,4896,148.5C4992,117,5088,72,5184,49.5C5280,27,5376,27,5472,31.5C5568,36,5664,45,5760,76.5C5856,108,5952,162,6048,171C6144,180,6240,144,6336,117C6432,90,6528,72,6624,54C6720,36,6816,18,6864,9L6912,0L6912,270L6864,270C6816,270,6720,270,6624,270C6528,270,6432,270,6336,270C6240,270,6144,270,6048,270C5952,270,5856,270,5760,270C5664,270,5568,270,5472,270C5376,270,5280,270,5184,270C5088,270,4992,270,4896,270C4800,270,4704,270,4608,270C4512,270,4416,270,4320,270C4224,270,4128,270,4032,270C3936,270,3840,270,3744,270C3648,270,3552,270,3456,270C3360,270,3264,270,3168,270C3072,270,2976,270,2880,270C2784,270,2688,270,2592,270C2496,270,2400,270,2304,270C2208,270,2112,270,2016,270C1920,270,1824,270,1728,270C1632,270,1536,270,1440,270C1344,270,1248,270,1152,270C1056,270,960,270,864,270C768,270,672,270,576,270C480,270,384,270,288,270C192,270,96,270,48,270L0,270Z"
        ></path>
        <defs>
          <linearGradient id="sw-gradient-1" x1="0" x2="0" y1="1" y2="0">
            <stop stop-color="rgba(202, 28, 209, 0.82)" offset="0%"></stop>
            <stop stop-color="rgba(202, 28, 209, 0.77)" offset="100%"></stop>
          </linearGradient>
        </defs>
        <path
          style="transform: translate(0, 50px); opacity: 0.9"
          fill="url(#sw-gradient-1)"
          d="M0,189L48,184.5C96,180,192,171,288,157.5C384,144,480,126,576,117C672,108,768,108,864,112.5C960,117,1056,126,1152,112.5C1248,99,1344,63,1440,54C1536,45,1632,63,1728,81C1824,99,1920,117,2016,130.5C2112,144,2208,153,2304,139.5C2400,126,2496,90,2592,99C2688,108,2784,162,2880,153C2976,144,3072,72,3168,40.5C3264,9,3360,18,3456,18C3552,18,3648,9,3744,9C3840,9,3936,18,4032,18C4128,18,4224,9,4320,31.5C4416,54,4512,108,4608,130.5C4704,153,4800,144,4896,121.5C4992,99,5088,63,5184,54C5280,45,5376,63,5472,76.5C5568,90,5664,99,5760,108C5856,117,5952,126,6048,126C6144,126,6240,117,6336,126C6432,135,6528,162,6624,148.5C6720,135,6816,81,6864,54L6912,27L6912,270L6864,270C6816,270,6720,270,6624,270C6528,270,6432,270,6336,270C6240,270,6144,270,6048,270C5952,270,5856,270,5760,270C5664,270,5568,270,5472,270C5376,270,5280,270,5184,270C5088,270,4992,270,4896,270C4800,270,4704,270,4608,270C4512,270,4416,270,4320,270C4224,270,4128,270,4032,270C3936,270,3840,270,3744,270C3648,270,3552,270,3456,270C3360,270,3264,270,3168,270C3072,270,2976,270,2880,270C2784,270,2688,270,2592,270C2496,270,2400,270,2304,270C2208,270,2112,270,2016,270C1920,270,1824,270,1728,270C1632,270,1536,270,1440,270C1344,270,1248,270,1152,270C1056,270,960,270,864,270C768,270,672,270,576,270C480,270,384,270,288,270C192,270,96,270,48,270L0,270Z"
        ></path>
        <defs>
          <linearGradient id="sw-gradient-2" x1="0" x2="0" y1="1" y2="0">
            <stop
              stop-color="rgba(165.519, 6.473, 206.405, 1)"
              offset="0%"
            ></stop>
            <stop
              stop-color="rgba(163.818, 19.27, 174.53, 0.85)"
              offset="100%"
            ></stop>
          </linearGradient>
        </defs>
        <path
          style="transform: translate(0, 100px); opacity: 0.8"
          fill="url(#sw-gradient-2)"
          d="M0,27L48,36C96,45,192,63,288,90C384,117,480,153,576,175.5C672,198,768,207,864,175.5C960,144,1056,72,1152,63C1248,54,1344,108,1440,148.5C1536,189,1632,216,1728,202.5C1824,189,1920,135,2016,130.5C2112,126,2208,171,2304,184.5C2400,198,2496,180,2592,171C2688,162,2784,162,2880,175.5C2976,189,3072,216,3168,198C3264,180,3360,117,3456,90C3552,63,3648,72,3744,63C3840,54,3936,27,4032,27C4128,27,4224,54,4320,63C4416,72,4512,63,4608,58.5C4704,54,4800,54,4896,49.5C4992,45,5088,36,5184,40.5C5280,45,5376,63,5472,72C5568,81,5664,81,5760,72C5856,63,5952,45,6048,31.5C6144,18,6240,9,6336,22.5C6432,36,6528,72,6624,112.5C6720,153,6816,198,6864,220.5L6912,243L6912,270L6864,270C6816,270,6720,270,6624,270C6528,270,6432,270,6336,270C6240,270,6144,270,6048,270C5952,270,5856,270,5760,270C5664,270,5568,270,5472,270C5376,270,5280,270,5184,270C5088,270,4992,270,4896,270C4800,270,4704,270,4608,270C4512,270,4416,270,4320,270C4224,270,4128,270,4032,270C3936,270,3840,270,3744,270C3648,270,3552,270,3456,270C3360,270,3264,270,3168,270C3072,270,2976,270,2880,270C2784,270,2688,270,2592,270C2496,270,2400,270,2304,270C2208,270,2112,270,2016,270C1920,270,1824,270,1728,270C1632,270,1536,270,1440,270C1344,270,1248,270,1152,270C1056,270,960,270,864,270C768,270,672,270,576,270C480,270,384,270,288,270C192,270,96,270,48,270L0,270Z"
        ></path>
      </svg>
    </footer>
  </body>
</html>
